<div class="character">
<h1>Meet <%= @character.name %></h1>
<img src=<%= @character.img %> alt=<%=@character.name%>/>
<p>Birthday: <%=@character.birthday%></p>
<p>Occupation: <%=@character.occupation%></p>
<p>Status: <%=@character.status%></p>
<p>Actor: <%=@character.actor%></p>
<p>Nickname: <%=@character.nickname%></p>
<a href="/characters/<%= @character.id %>/edit">Edit <%=@character.name%>'s information.</a>
<form action="/characters/<%= @character.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete <%= @character.name %>">
</form>
</div>

<div class=messages>
  <% @character.messages.each do |message| %>
    <div class="message">
      <%="<a href='/users/#{message.user.id}'>#{message.user.username}</a> says: #{message.content}" %>
    </div>
  <% end %>
</div>
<h3>Create a Message!</h3>
<form action="/messages" method="post">
  <label for="user">Who's Posting:</label><br>
  <select name="user_id" id="users">
    <% @users.each do |user| %>
      <option value="<%= user.id %>"><%= user.username %></option>
    <% end %>
  </select><br>
  <label for="content">Message:</label><br>
  <input type="text" id="content" name="content"><br>
  <input type="hidden" name="character_id" value="<%= @character.id %>">
  <input type="submit" value="Send <%= @character.name %> a message!">
</form>
